<nav class="navbar bg-danger shadow" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Apartment Manager</span>
  </div>
</nav>
<div class="main-container">
  <router-outlet></router-outlet>
</div>

<div class="btn-group w-100 rounded-0">
  <a class="btn btn-danger rounded-0"  [(ngModel)]="activePage" [btnRadio]="0"><i class="bi bi-clipboard-data-fill"></i></a>
  <a class="btn btn-danger rounded-0"  [(ngModel)]="activePage" [btnRadio]="1"><i class="bi bi-building-fill"></i></a>
  <a class="btn btn-danger rounded-0"  [(ngModel)]="activePage" [btnRadio]="2"><i class="bi bi-person-fill"></i></a>
  <a class="btn btn-danger rounded-0"  [(ngModel)]="activePage" [btnRadio]="3"><i class="bi bi-star-fill"></i></a>
  <a class="btn btn-danger rounded-0"  [(ngModel)]="activePage" [btnRadio]="4"><i class="bi bi-gear-fill"></i></a>
</div>

<!-- <div class="m-2 p-1 shadow-sm">
  <tabset>
    <tab
      class="border border-top-0 main-tab pt-3"
      heading="Block-001"
      id="tab1"
    >
      <div class="row">
        @for (floor of [1,2,3,4,5,6,7,8,9,10]; track $index) {
        <div class="col-xl-6 mb-2">
          <div class="card">
            <div class="card-header p py-0 text-center">Floor-{{ floor }}</div>
            <div class="card-body p-1">
              <div class="d-flex pb-0" style="overflow-x: auto">
                @for (flat of [1,2,3,4,5,6,7,8,9,10]; track $index) {
                <div class="card me-2 mb-2" style="min-width: 220px">
                  <div class="card-header p text-center py-0">Flat {{ floor }}{{ flat }}</div>
                  <div
                    class="card-body d-flex justify-content-center align-items-center"
                  >

                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </tab>
    <tab class="border border-top-0 main-tab" heading="Block-002"
      >Basic content 1</tab
    >
    <tab class="border border-top-0 main-tab" heading="Block-003"
      >Basic content 2</tab
    >
  </tabset>
</div> -->
